/* App.css */

.element {
  animation: float 2s ease-in-out infinite;
  width: 700px; /* Increase the size of the image */
  height: auto;
  margin-left: 20px; /* Move the image slightly towards the right */
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
}

}


/*

.App {
  text-align: center;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}
*/